/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}

.theme-dark .page {
    /*REC*/
    .header__rec {
        position: absolute;
        top: 1rem;
        right: 2rem;
        font-weight: bold;
        color: #FF0070;
    }
    .header__rec::after {
        content: "";
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #FF0070;
        display: inline-block;
        margin-left: 4px;
        box-shadow: 0 0 5px 2px var(--accent-color);
    }
}
