/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}

@media (prefers-color-scheme: light) {
    :root {
        --bg-color: #ffffff;
        --text-color: #353430;
        --accent-color: #ff8dcb;
        --corner-color: #353430;
        --title-shadow-color: #FFC2E6;
        --button-bg: #dddddd;
        --button-text: #1a1a1a;
        --button-hover-bg: #cccccc;
        --background-image: url("../images/cover-image-light.png");
        --subtitle-color: #353430;
        --paragraph-text-color: #353430;
        --section-title-color: #353430;
        --footer-logo-color: #ffc2e6;
    }
}
