/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
    /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */

}

/* Header */
header{
    padding: var(--gap);
    background-image: var(--background-image);
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: grid;
    justify-items: end;
    align-items: center;
    grid-template-rows: 1fr min-content 1fr;
    width: 100vw;
    height: 100vh;
}

/* Углы */
.header__corner {
    position: absolute;
    width: 20px;
    height: 20px;
}

.header__corner--top-right {
    right: var(--gap);
    top: var(--gap);
    border-top: 1px solid var(--corner-color);
    border-right: 1px solid var(--corner-color);
}

.header__corner--top-left {
    bottom: var(--gap);
    left: var(--gap);
    border-bottom: 1px solid var(--corner-color);
    border-left: 1px solid var(--corner-color);
}

/*Theme Menu & Button*/
.header__theme-menu {
    grid-row: 1;
    justify-self: end;
    align-self: center;
    font-size: 18px;
}

.header__theme-menu-list {
    display: flex;
    flex-direction: column;
    gap: var(--gap)
}

header button {
    width: 70px;
    height: 26px;
    color: var(--text-color);
    font-family: 'IBM Plex regular', monospace;
    background-color: transparent;
    border: none;
    text-align: center;
}
.header__theme-menu-button_active {
    border: 1px var(--text-color) solid;
}
.header__rec{
    position: absolute;
    color: transparent;
}

/*Text*/
.header__text{

}

.header__title{
    grid-row: 2;
    justify-self: start;
    line-height: 83%;
    color: var(--title-shadow-color);
    font-family: 'IBM Plex mono', monospace;
    text-shadow: 4px 4px 0 var(--accent-color);
    font-size: var(--header-logo-size);
}

.header__subtitle{
    grid-row: 3;
    font-family: IBM Plex Mono, serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    background-color: var(--accent-color);
    color: var(--subtitle-color);
}

@media (max-width: 767px) {

    .header__text {
        inline-size: 100%;
    }
}
@media (min-width: 767px) {

    .header__text {
        inline-size: 50%;
    }
    .header__title {
        position: relative;
        inset-inline-start: calc(-1 * var(--gap));
    }
}

@media (max-width: 1024px) {

}

@media (min-width: 1024px) {


    .header__theme-menu {
        justify-self: center;
        align-self: start;
    }

    .header__theme-menu-list {
        flex-direction: row;
    }
}
