/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
    /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */

}
header{
    background-image: var(--background-image);
    background-repeat: no-repeat;
}

.header {
    padding: 5px 10px 5px 10px;
    position: relative;
    display: grid;
    grid-template-areas:
    "theme-menu"
    "text";
    grid-template-rows:1fr 3fr;
    align-items: center;
}

.header__rec {
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-weight: bold;
    color: #FF0070;
}
.header__rec::after {
    content: "•";
    color: #FF0070;
    margin-left: 0.25rem;
}
.header__corner {
    position: absolute;
    width: 20px;
    height: 20px;
}

.header__corner--top-right {
    right: 1%;
    top: 1%;
    border-top: 3px solid var(--accent-color);
    border-right: 3px solid var(--accent-color);
}

.header__corner--top-left {
    bottom: 1%;
    left: 1%;
    border-bottom: 3px solid var(--accent-color);
    border-left: 3px solid var(--accent-color);
}

header button{
    color: var(--accent-color);
    background-color: transparent;
    border: none;
}
.header__theme-menu-button_active {
    border: var(--accent-color) 1px solid;
}
.header__title{
    color: var(--title-shadow-color);
    font-family: IBM Plex Mono, serif;
    font-weight: 700;
    text-shadow: 4px 4px 0 var(--accent-color);
    font-size: 116px;
}

.header__text{
    padding: 20px 0 20px 0;
    grid-area: text;
}

.header__subtitle{
    font-family: IBM Plex Mono, serif;
    font-weight: 700;
    font-size: 18px;
    background-color: var(--accent-color);
    color: black;
}

.header__theme-menu{
    text-align: center;
    margin-left: auto;
    margin-top: auto;
    grid-area: theme-menu;
}
