/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
    /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */

}

/* Header */
header{
    background-image: var(--background-image);
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: grid;
    grid-template-rows: 1fr 7fr 15fr;
    width: 100vw;
    height: 100vh;
}

/* Углы */
.header__corner {
    position: absolute;
    width: 20px;
    height: 20px;
}

.header__corner--top-right {
    right: 0.5%;
    top: 0.5%;
    border-top: 1px solid var(--accent-color);
    border-right: 1px solid var(--accent-color);
}

.header__corner--top-left {
    bottom: 0.5%;
    left: 0.5%;
    border-bottom: 1px solid var(--accent-color);
    border-left: 1px solid var(--accent-color);
}

/*Theme Menu & Button*/
.header__theme-menu {
    grid-area: theme-menu;
    justify-self: end;
    align-self: center;
    margin-right: 10px;
    font-size: 18px;
}

.header__theme-menu-button {
    margin-top: 10px;
}

header button {
    width: 70px;
    height: 26px;
    color: var(--accent-color);
    background-color: transparent;
    border: none;
    text-align: center;
}
.header__theme-menu-button_active {
    border: 1px var(--accent-color) solid;
}

/*Text*/
.header__text{
    display: grid;
    grid-template-rows: 0.5fr 0.3fr 0.2fr;
    height: 100%;
    grid-area: text;
    margin: 0 10px 0 10px;
}

.header__title{
    grid-area: title;
    line-height: 83%;
    color: var(--title-shadow-color);
    font-family: IBM Plex Mono, serif;
    font-weight: 700;
    text-shadow: 4px 4px 0 var(--accent-color);
    font-size: 116px;
}

.header__subtitle{
    margin-top: 20px;
    grid-area: subtitle;
    font-family: IBM Plex Mono, serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    background-color: var(--accent-color);
    color: black;
    padding: 1px;
}

@media (max-width: 1024px) {
    .header {
        grid-template-areas:
      "header"
      "theme-menu"
      "text"
    }
    .header__text{
        grid-template-areas:
    "title"
    "none"
    "subtitle";
    }
}

@media (min-width: 1024px) {
    .header {

        grid-template-areas:
        "theme-menu"
        "text"
    }
}
