/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
    /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
    background-image: var(--background-image);
}

/* Header */
header{
    padding: var(--gap);

    background-repeat: no-repeat;
    background-attachment: fixed;
    display: grid;
    justify-items: end;
    align-items: center;
    grid-template-rows: 1fr min-content 1fr;
    width: 100vw;
    height: 100vh;
}

/* Углы */
.header__corner {
    position: absolute;
    width: 20px;
    height: 20px;
}

.header__corner--top-right {
    right: var(--gap);
    top: var(--gap);
    border-top: 1px solid var(--corner-color);
    border-right: 1px solid var(--corner-color);
}

.header__corner--top-left {
    bottom: var(--gap);
    left: var(--gap);
    border-bottom: 1px solid var(--corner-color);
    border-left: 1px solid var(--corner-color);
}

/*Theme Menu & Button*/
.header__theme-menu {
    grid-row: 1;
    justify-self: end;
    align-self: center;
    font-size: 18px;
}

.header__theme-menu-list {
    display: flex;
    flex-direction: column;
    gap: var(--gap)
}

header button {
    width: 70px;
    height: 26px;
    color: var(--text-color);
    font-family: 'IBM Plex regular', monospace;
    background-color: transparent;
    border: none;
    text-align: center;
}
.header__theme-menu-button_active {
    border: 1px var(--text-color) solid;
}
.header__rec{
    position: absolute;
    color: transparent;
}

/*Text*/
.header__text{

}

.header__title{
    grid-row: 2;
    justify-self: start;
    line-height: 83%;
    color: var(--title-shadow-color);
    font-family: 'IBM Plex mono', monospace;
    text-shadow: 4px 4px 0 var(--accent-color);
    font-size: var(--header-logo-size);
}

.header__subtitle{
    grid-row: 3;
    font-family: IBM Plex Mono, serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    background-color: var(--accent-color);
    color: var(--subtitle-color);
}

/*Main*/
main {
    padding: calc(3 * var(--gap)) var(--gap);
    font-size: var(--text-size);
    line-height: var(--line-height);
    font-family: 'IBM Plex mono', monospace;
}
section:not(:first-child) {
    margin-top: calc(5 * var(--gap));
}
/*Text*/
.section__title {
    margin-block-end: calc(2 * var(--gap));
    color: var(--section-title-color);
    font-size: var(--text-size);
    line-height: var(--line-height);
}

.text-block__heading {
    font-size: var(--text-size);
    line-height: var(--line-height);
    background-color: var(--accent-color);
    color: var(--subtitle-color);
    margin-block-start: calc(2 * var(--gap));
}

.text-block__paragraph {
    margin-block-start: var(--gap);
    line-height: var(--line-height);
    color: var(--paragraph-text-color);
}

.content__link {
    text-decoration: none;
    text-shadow: 2px 2px 0 var(--accent-color);
}
.text-block{
    margin-top: calc(var(--gap) * 2);
}


.text-block__subtitle {
    margin-block-start: calc(2 * var(--gap));
    font-weight: normal;
}

.grid-heading {
    color: var(--text-color);
    background-color: var(--accent-color);
    font-size: var(--text-size);
    line-height: var(--line-height);
}

.grid {
    display: grid;
    gap: var(--gap);
}

.grid__image {
    inline-size: 100%;
}

/*Footer*/
.footer {
    position: relative;
    padding: var(--gap);
    min-block-size: 668px;
    block-size: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
}

.footer__logo {
    color: var(--footer-logo-color);
    font-size: var(--footer-logo-size);
    line-height: 0.825;
    text-shadow: 2px 2px 0 var(--accent-color);
}

@media (max-width: 767px) {

    .header__text {
        inline-size: 100%;
    }
}
@media (min-width: 767px) {

    .header__text {
        inline-size: 50%;
    }
    .header__title {
        position: relative;
        inset-inline-start: calc(-1 * var(--gap));
    }

    section {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: var(--gap);
    }

    section:not(:last-of-type) {
        margin-block-end: calc(4 * var(--gap));
    }

    .section__title {
        margin-block-end:0;
    }

    .what .section__title {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .what .text-blocks {
        grid-column: 1/-1;
    }

    .text-block:first-of-type {
        margin-block-start: 0;
    }

    .text-block__heading:first-of-type {
        margin-top: 0;
    }
    .text-block__subtitle {
        margin-block-start: calc(1 * var(--gap));
    }
    .text-block{
        margin-top: calc(var(--gap) * 1);
    }
    .text-block__heading {
        margin-block-start: calc(1 * var(--gap));
    }
    .text-block__paragraph {
        margin-block-start: calc(var(--gap) / 2);
    }
    section:not(:first-child) {
        margin-top: calc(4 * var(--gap));
    }
    /*Images*/
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid-heading {
        grid-column: 1/-1;
    }

    .grid__image {
        block-size: 100%;
        object-fit: cover;
        object-position: center;
    }

    .grid__image:first-of-type {
        grid-column: span 2;
    }

    .grid__image:nth-of-type(2) {
        grid-row: span 2;
    }

    .grid__image:nth-of-type(3) {
        grid-row: span 2;
    }

    .grid__image:last-of-type {
        grid-column: span 2;
    }
}

@media (min-width: 1024px) {


    .header__theme-menu {
        justify-self: center;
        align-self: start;
    }

    .header__theme-menu-list {
        flex-direction: row;
    }
    .what .text-blocks .text-block  {
        margin-block-start: 0;
    }
    .what .text-blocks {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: var(--gap);
    }
}
