:root {
    --bg-color: #1a1a1a; /* Тёмная тема */
    --text-color: #ffffff;
    --accent-color: #ff0070;
    --corner-color: #ff0070;
    --title-shadow-color: #DB00FF;
    --button-bg: #333333;
    --button-text: #ffffff;
    --button-hover-bg: #444444;
    --header-logo-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    --background-image: url("../images/cover-image-dark.png");
    --gap: 10px;
    --main-font-family: 'IBM Plex mono', monospace;
    --subtitle-color: #000028;
    --text-size: 18px;
    --line-height: 1.3;
    --paragraph-text-color: #F1B2CE;
    --section-title-color: #ff0070;
    --footer-logo-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    --footer-logo-color: #db00ff;
    --theme-menu-button-color:#ff0070;
}

:root.theme-light {
    --bg-color: #ffffff;
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --corner-color: #353430;
    --title-shadow-color: #FFC2E6;
    --button-bg: #dddddd;
    --button-text: #1a1a1a;
    --button-hover-bg: #cccccc;
    --background-image: url("../images/cover-image-light.png");
    --subtitle-color: #353430;
    --paragraph-text-color: #353430;
    --section-title-color: #353430;
    --footer-logo-color: #ffc2e6;
    --theme-menu-button-color:black;
}

@media (width >= 768px) {
    :root {
        --gap: 20px;
        --header-logo-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
        --footer-logo-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }
}